{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Wishlist</title>
    <link rel="stylesheet" href="{% static 'user/wishlist.css' %}">

</head>
<body>

<h2>❤️ My Wishlist</h2>

{% if items %}
<table border="1" cellpadding="10">
    <tr>
        <th>Game</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.game.name }}</td>
        <td>₹{{ item.game.game_price }}</td>
        <td>
            <a href="{% url 'remove_from_wishlist' item.game.id %}">
                Remove
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>Your wishlist is empty.</p>
{% endif %}

<br>
<a href="{% url 'userpage' %}">⬅ Back to Store</a>

</body>
</html>
