{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'addproduct.css' %}">
</head>
<body>

<form action="{% url 'addproduct' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <select name="category" required>
        <option value="" selected disabled>--- SELECT CATEGORY ---</option>
        <option value="Multipl">Multiplayer</option>
        <option value="RPG">Action RPG</option>
        <option value="Racing">Racing</option>
        <option value="Rogue">Rogue</option>
        <option value="Sim">Simulator</option>
        <option value="Online">Online Co-op</option>
        <option value="Horror">Horror</option>
        <option value="Indie">Indie</option>
        <option value="AAA">AAA Titles</option>
    </select><br><br>

    <input type="text" name="name" placeholder="Game Name" required><br>
    <input type="text" name="description" placeholder="Description" required><br>
    <input type="number" name="game_price" placeholder="Price" required><br><br>

    <hr>
<h3>Game Details</h3>

<input type="text" name="genre" placeholder="Genre (e.g. Action RPG)"><br><br>

<input type="text" name="developer" placeholder="Developer (e.g. Capcom)"><br><br>

<input type="number" step="0.1" name="rating" placeholder="Rating (e.g. 4.5)"><br><br>

<label>Release Date</label><br>
<input type="date" name="release_date"><br><br>

<input type="text" name="players" placeholder="Players (Single / Multiplayer)"><br><br>

<input type="text" name="storage_required" placeholder="Storage Required (e.g. 80 GB)"><br><br>


    {% comment %} <!-- MAIN IMAGE -->
    <label>Main Game Image</label><br>
    <input type="file" name="game_image" accept="image/*" required><br><br> {% endcomment %}

    <!-- GAME LOGO -->
    <label>Game Logo</label><br>
    <input type="file" name="game_logo" accept="image/*" required><br><br>

    <label>Screenshot 1</label><br>
    <input type="file" name="screenshot1" accept="image/*"><br><br>

    <label>Screenshot 2</label><br>
    <input type="file" name="screenshot2" accept="image/*"><br><br>

    <label>Screenshot 3</label><br>
    <input type="file" name="screenshot3" accept="image/*"><br><br>

    <label>Screenshot 4</label>
<input type="file" name="screenshot4">

    <label>Game Trailer (MP4)</label><br>
<input type="file" name="trailer" accept="video/mp4"><br><br>




    <input type="submit" value="Submit">
</form>

</body>
</html>
