{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'adminpage.css' %}">
</head>

<body>
    <div class="nav">
        <nav class="first_nav">
            <img src="{% static 'image/logo.png' %}" alt="Store Logo">
            <ul class="nav-links">
                <li><a href="{% url 'addproduct' %}">Add Product</a></li>
<li><a href="{% url 'viewproduct' %}">View Product</a></li>

<a href="{% url 'adminpage' %}">
    <button class="logout">Go Back</button>
</a>

        </nav>
    </div>
</body>

</html>